<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация - Car Rental</title>
</head>
<body>
<h2>Създай нов профил</h2>

<form th:action="@{/users/register}" th:object="${userRegisterDTO}" method="POST">
    <div>
        <label for="username">Потребителско име:</label>
        <input type="text" id="username" th:field="*{username}" />
        <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red;"></small>
    </div>
    <br>
    <div>
        <label for="email">Имейл:</label>
        <input type="email" id="email" th:field="*{email}" />
        <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red;"></small>
    </div>
    <br>
    <div>
        <label for="password">Парола:</label>
        <input type="password" id="password" th:field="*{password}" />
        <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"></small>
    </div>
    <br>
    <button type="submit">Регистрирай се</button>
</form>

<p>Вече имаш профил? <a th:href="@{/users/login}">Влез тук</a></p>
</body>
</html>